.bg-grid-pattern,
body {
	background-color: var(--color-base-200);
	background-image: radial-gradient(var(--color-base-400) 1px, transparent 1px);
	background-size: 24px 24px;
}

html,
body {
	height: 100%;
	height: 100dvh;
	margin: 0;
	overflow: hidden;
	overscroll-behavior-y: none;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-spinner[type='number'] {
	-moz-appearance: textfield;
}
